.firstGist {
  height: 460px;
}

.thirdGist {
  height: 218px;
}

.fourthGist {
  height: 546px;
}

.fifthGist {
  height: 483px;
}

.sixthGist {
  height: 635px;
}

.seventhGist {
  height: 1690px;
}
