.pylcover {
  background-size: cover;
  background-image: url('../pictures/pyl-front-cover.jpg');
}

.rapidbackend {
  background-size: cover;
  background-image: url('../pictures/rbe-cover.jpg');
}

.consult {
  background-size: cover;
  background-image: url('../pictures/consultation.png');
}
