.height100vh {
  height: 100vh;
}

.zeroPadding {
  padding: 0;
}

.tenPadding {
  padding: 10px;
}

.zeroMarginBottom {
  margin-bottom: 0;
}

.sectionHeader,
.sectionHeader2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin: 0 auto;
  width: 72%;
  border-bottom: 1px solid black;
  margin-bottom: 52px;
}

.sectionHeader2 {
  width: 50%;
  border-bottom: none;
  margin: 0;
  min-height: 38px;
  @media only screen and (max-width: 400px) {
    font-size: 20px;
    min-height: 20px;
    padding-top: 5px;
  }
}

.sectionHeight {
  height: calc(100vh - 70px);
}

.viewWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px;
  width: 80%;
}

.headerWrapper {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 52px;
  border-bottom: 1px solid black;
}

.alwaysCentered {
  position: absolute; /* or 'fixed' if you want it to stay in place on scroll */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Set a specific width */
  height: 100px; /* Set a specific height */
}

.width75 {
  width: 75%;
  margin: auto;
}

.minus10LeftMargin {
  margin-left: -10px;
}
