.contactWrapper {
  padding: 10px;
  overflow: auto;
  height: calc(100vh - 70px);
}

.contactMe {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  margin: 0 auto;
  width: 72%;
  border-bottom: 1px solid black;
}

.form,
.input {
  text-align: center;
}

.form {
  width: 100%;
  height: 420px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #1e162a;
  width: 275px;
  outline: none;
  padding: 0;
  font-style: italic;
}

.message {
  margin-top: 10px;
  font-style: italic;
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed #1e162a;
  width: 275px;
  overflow: auto;
  resize: both;
  resize: both; /* Enables resizing for modern browsers */
  -webkit-resize: both;
}

.submit {
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  background-color: white;
  -webkit-box-shadow: 0 2.5px 2.5px 2.5px rgba(30, 22, 42, 0.5);
  box-shadow: 0 2.5px 2.5px 2.5px rgba(30, 22, 42, 0.5) !important;
  transition: all 0.2s ease-in-out;
  margin: 15px auto 0 auto;
  color: black;
}

.submit:hover {
  cursor: pointer;
}

.label {
  margin: 20px;
}
