.tileWrapper {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-decoration: none;
  color: initial;
}

.tileWrapper:hover {
  cursor: pointer;
}

.title {
  font-size: 16px;
  min-height: 35px;
}

.imageContainer {
  height: 140px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
}

.titleBox {
  flex: 1;
  background-color: #d2d1d1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  position: relative;
}

.infoWrapper {
  margin-bottom: 0px;
}

.lengthInMinutes,
.publishedDate {
  margin: 0;
}

.lengthInMinutes {
  float: left;
}
.publishedDate {
  float: right;
}

.pylcover {
  background-size: cover;
  background-image: url('../pictures/pyl-cover.jpg');
}

.rapidbackend {
  background-size: cover;
  background-image: url('../pictures/rapidbackend-cover.png');
}

.exprapidbackend {
  background-size: cover;
  background-image: url('../pictures/see-the-light.jpg');
}

.expcka {
  background-size: cover;
  background-image: url('../pictures/cka.jpg');
}

.awsiam {
  background-size: cover;
  background-image: url('../pictures/aws-iam.jpeg');
}

.dontpanic {
  background-size: cover;
  background-image: url('../pictures/dont-panic.jpg');
}

.jsnew {
  background-size: cover;
  background-image: url('../pictures/js-new.png');
}

.explservers {
  background-size: cover;
  background-image: url('../pictures/kids-eating-spaghetti.png');
}

.samgolambda {
  background-size: cover;
  background-image: url('../pictures/SAM-Golang-MongoDB.png');
}

.xml {
  background-size: cover;
  background-image: url('../pictures/computer-genius.png');
}

.mspt2 {
  background-size: cover;
  background-image: url('../pictures/ec2-linux.png');
}

.mspt1 {
  background-size: cover;
  background-image: url('../pictures/docker-node.png');
}

.reactcontext {
  background-size: cover;
  background-image: url('../pictures/react-context.png');
}
