body.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textAlign {
  text-align: center;
}

/* Used for Maintenance pages gif of avatar working */
.construction {
  height: 300px;
  width: 300px;
  margin: auto;
  background-image: url('https://user-images.githubusercontent.com/26694930/37315354-9c79c4a4-262f-11e8-9da2-9a7cadb0a02e.gif');
  background-size: cover; /* This will scale your image to cover the div */
  background-position: center;
}

.particles {
  width: 100%;
  height: 100vh;

  background-color: #77369a;
  background: linear-gradient(#14161d, #1f3b73);
}

.hide {
  display: none;
}

.overflowHidden {
  overflow: hidden;
}

.iframe {
  display: none;
  visibility: hidden;
}
