.homeSize {
  width: 34px;
  height: 30px;
}

.shopSize {
  margin: 4px 6px 0 12px;
  width: 31px;
  height: 30px;
}

.threeItemWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
}
