.tileWrapper {
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-decoration: none;
  color: initial;
}

.title {
  font-size: 16px;
  height: 20px;
  text-align: center;
}

.price {
  text-align: right;
  margin: 14 0px;
}

.imageContainer {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-size: auto 100% !important;
  background-repeat: no-repeat;
}

.titleBox {
  flex: 1;
  position: relative;
}

.infoWrapper {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.lengthInMinutes,
.publishedDate {
  margin: 0;
}

.lengthInMinutes {
  float: left;
}
.publishedDate {
  float: right;
}

.pylcover {
  background-size: cover;
  background-image: url('../pictures/pyl-front-cover.jpg');
}

.rapidbackend {
  background-size: cover;
  background-image: url('../pictures/rbe-cover.jpg');
}

.addToCartButton {
  height: 40px;
  font-size: 15px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  color: black;
  margin: 15px 0;
}

.strike {
  color: grey;
  text-decoration: line-through;
}
