.aboutMeWrapper {
  margin-bottom: 30px;
  padding-top: 25px;
}

.headshot {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-image: url('../pictures/headshot-square.png');
  background-position: center top 406px;
  border-radius: 50%;
  background-size: 102% auto;
  margin: auto;
}

.textCenter {
  text-align: center;
}

.aboutMe {
  line-height: 35px;
  font-size: 20px;
  font-size: 20px;
  margin: 0 auto;
  width: 75%;
  margin-top: 52px;
}

.about {
  color: black;
  margin: auto;
  margin-top: 20px;
  line-height: 1.4;
  overflow: auto;
  word-wrap: break-word;
  @media only screen and (max-width: 720px) {
  }
}

.subhead,
.about {
  max-width: 600px;
}

.subhead {
  margin: 50px auto 20px;
}

.imageWrapper {
  margin: auto;
  text-align: center;
  img {
    margin: 20px auto 0;
    position: unset !important;
    height: 200px !important;
    @media only screen and (max-width: 720px) {
      max-width: 100% !important;
    }
  }
  .altText {
    color: #3d3b3b74;
    margin: 5px auto 20px;
    font-size: 14px;
    a {
      color: #3d3b3b74;
    }
  }
}
