.innerWrapper {
  max-width: 800px;
  margin: auto;
  .imageWrapper {
    margin: auto;
    text-align: center;
    img {
      margin: 20px auto 0;
      position: unset !important;
      height: unset !important;
      @media only screen and (max-width: 720px) {
        max-width: 100% !important;
      }
    }
    .altText {
      color: #3d3b3b74;
      margin: 5px auto 20px;
      font-size: 14px;
      a {
        color: #3d3b3b74;
      }
    }
  }

  .text {
    line-height: 35px;
    font-size: 20px;
  }
}

.grey {
  color: #3d3b3b74;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Add this line */
}

.grey:hover {
  color: #3d3b3be0;
}

.code {
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  font-size: 15px;
  display: inline-block;
  line-height: 20px;
  a {
    color: black;
  }
}

.figure {
  clear: both;
  box-sizing: inherit;
  word-wrap: break-word;
  margin: 0;
  .gistSubtext {
    margin: 0;
    text-align: center;
    color: #6b6b6b;
  }
  .firstInner {
    margin: auto;
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: inherit;
    unicode-bidi: isolate;
    word-wrap: break-word;

    .secondInner {
      display: block;
      box-sizing: inherit;
      word-wrap: break-word;
      iframe {
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        width: 100%;
        border: none;
      }
    }
    // * start ReactContextApi Gists
    .firstGist {
      height: 613px;
    }
    .secondGist {
      height: 1407px;
    }
    .thirdGist {
      height: 907px;
    }
    .fourthGist {
      height: 218px;
    }
    // * end ReactContextApi Gists

    // * start SamLambdaMongoDB Gists
    .fifthGist {
      height: 569px;
    }
    .sixthGist {
      height: 217px;
    }
    .seventhGist {
      height: 218px;
    }
    .eighthGist {
      height: 393px;
    }
    .ninthGist {
      height: 657px;
    }
    .tenthGist {
      height: 283px;
    }
    .eleventhGist {
      height: 195px;
    }
    .twelthGist {
      height: 503px;
    }
    .thirteenthGist {
      height: 569px;
    }
    .fourteenthGist {
      height: 218px;
    }
    .fifteenthGist {
      height: 569px;
    }
    .sixteenthGist {
      height: 569px;
    }
    // * end SamLambdaMongoDB Gists
  }
}

ul > li.text {
  list-style-type: disc;
}

ul.noDots > li {
  list-style: none;
}

@media only screen and (min-width: 720px) {
  .smaller {
    img {
      max-width: 50% !important;
    }
  }
}

pre.pre {
  text-align: center;
  .code {
    width: 100%;
    text-align: left;
    text-wrap: wrap;
    padding: 20px;
  }
}

.subtext {
  color: #6b6b6b;
  font-size: 22px;
}

p.text {
  a {
    color: black;
  }
}

.emoji {
  font-size: 80px;
  margin: 0;
}
