.imageContainer {
  img {
    position: unset !important;
    height: unset !important;
  }
  position: relative;
}

.itemWrapper {
  overflow: auto;
  .itemTitleHeader {
    margin-top: 0;
  }
}

.addToCartButton {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  max-width: 300px;
  color: black;
}

.addToCartButton:hover {
  background-color: rgb(237, 229, 229);
}

.itemDescription {
  max-width: 600px;
}

.viewWrapperOverride {
  max-width: 800px;

  .stackedItems {
    display: flex;
    text-align: center;
    width: 300px;
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Centers items vertically within the container */
    align-items: center;
  }

  .itemDescription {
    margin-top: 50px;
  }
}

.price {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}

.strike {
  color: grey;
  text-decoration: line-through;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 140px solid transparent;
  border-bottom: 140px solid transparent;
  border-top: 140px solid blue;
}

.triangleText {
  color: white;
  font-size: 14px;
  margin: 0;
  width: 15px;
  text-wrap: wrap;
  font-weight: 800;
}

.triangleTextWrapper {
  position: absolute;
  top: -127px;
  right: 52px;
  transform: rotate(45deg);
}

.center {
  margin-left: 8px;
}

@media (max-width: 1023px) {
  .itemTitleHeader {
    width: 100%;
    text-align: center;
  }
  .price {
    margin-top: 20px;
  }
}
